@import './variables';

.chartbar {
  background-color: #eee;
  border-radius: 3px;
  height: 15px;
}

.window {
  position: fixed;
  min-width: 200px;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  box-shadow: $box-shadow;
  border-radius: 3px;
  padding: 10px;
  color: $white;
  &Row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__label {
      width: 75px;
    }
  }
  &Col {
    margin-bottom: 10px;
    &__label {
      width: 75px;
    }
  }
}
