@import './variables';
@import './mixin';

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $overlay;
  z-index: 10;
}

.modalForm {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  background: $overlay;
  border-radius: 5px;
  &__title {
    @include form-title();
    margin-bottom: 30px;
  }
  &__textInput {
    @include text-input();
    margin-bottom: 30px;
  }
  &__textarea {
    @include textarea();
    margin-bottom: 20px;
  }
  &__button {
    @include button();
  }
  &__label {
    box-sizing: border-box;
    color: $white;
    align-self: flex-start;
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 5px;
  }
}

.colorPallet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  &__edge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $white;
    margin: 2px;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    &--selected {
      @extend .colorPallet__body;
      &::after {
        content: '✔︎';
        color: white;
      }
    }
  }
}

.taskForm {
  max-height: 90vh;
  width: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px;
  position: fixed;
  top: 10px;
  left: 680px;
  box-shadow: $box-shadow;
  border-radius: 5px;
  background-color: $overlay;
  color: $white;
  overflow-y: scroll;
  @media (max-width: 1370px) {
    width: calc(100vw - 780px);
  }
  @media (max-height: 625px) {
    top: auto;
    bottom: 0;
  }
  &__close {
    position: fixed;
    top: 20px;
    right: 20px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
  }
  &__title {
    @extend .modalForm__title;
  }
  &__button {
    @include button();
  }
  &Row {
    width: 100%;
    margin-bottom: 20px;
    &__label {
      padding-left: 2px;
      margin-bottom: 2px;
      font-size: 12px;
    }
    &__name {
      @include text-input();
    }
    &__resource {
      @include text-input();
      border: none;
      width: 140px;
    }
    &__divide {
      width: 138px;
      height: 1px;
      border-bottom: solid 1px $white;
    }
    &__date {
      @include text-input();
      cursor: pointer;
    }
    &__checkbox {
      margin-left: 5px;
      position: relative;
    }
    &__checked {
      color: $green;
      position: absolute;
      left: -2px;
      font-size: 16px;
    }
    &__inCharge {
      display: flex;
      flex-wrap: wrap;
      height: 180px;
      overflow-y: scroll;
      @media (max-height: 755px) {
        flex-wrap: nowrap;
        height: auto;
      }
      .avatar {
        display: flex;
        flex-direction: column;
        width: 50px;
        margin: 3px;
        padding: 0 3px;
        &__wrapper {
          position: relative;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          cursor: pointer;
        }
        &__image {
          @extend .avatar__wrapper;
        }
        &__selected {
          @extend .avatar__wrapper;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0;
          left: 0;
          &::after {
            content: '✔︎';
            color: white;
          }
        }
        &__name {
          width: 100%;
          font-size: 10px;
          word-wrap: break-word;
          text-align: center;
        }
      }
    }
    &__description {
      @include textarea();
      @media (max-height: 655px) {
        height: 40px;
      }
    }
  }
}
