@import './variables';
@import './mixin';

.mainContainer {
  background-color: $white;
  width: calc(100vw - #{$sidebar-width});
}

.header {
  display: flex;
  border-bottom: solid 1px $grey;
  height: $header-height;
  .switchView {
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__button {
      outline: none;
      color: $indigo;
      cursor: pointer;
      text-decoration: underline;
      &--disable {
        color: inherit;
        outline: none;
        font-weight: bold;
      }
    }
    &__divider {
      margin: 0 10px;
    }
  }
  .member {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow-x: scroll;
    &__avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }
}

.gantt {
  display: flex;
  height: calc(100vh - #{$header-height});
  overflow: scroll;
  &-index {
    position: sticky;
    left: 0;
    z-index: 5;
    &-header {
      display: flex;
      align-items: center;
      height: 40px;
      border-right: solid 1px $grey;
      border-bottom: solid 1px $grey;
      background-color: $white;
      position: sticky;
      top: 0;
      z-index: 5;
      &__name {
        @include base-label($width: 150px, $text-align: left);
      }
      &__startDate {
        @include base-label($width: 100px);
      }
      &__endDate {
        @extend .gantt-index-header__startDate;
      }
      &__duration {
        @include base-label($width: 80px);
      }
      &__progress {
        @include base-label($width: 80px);
      }
    }
  }
  &-schedule {
    flex-grow: 1;
    &-header {
      @extend .gantt-index-header;
      position: sticky;
      top: 0;
      z-index: 4;
      &__date {
        box-sizing: border-box;
        height: 40px;
        width: 45px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        padding: 0 10px;
        border-right: solid 1px $grey;
        &--sun {
          @extend .gantt-schedule-header__date;
          background-color: $background-sun;
        }
        &--sat {
          @extend .gantt-schedule-header__date;
          background-color: $background-sat;
        }
      }
      &__week {
        @extend .gantt-schedule-header__date;
        padding: 0 5px;
      }
    }
  }
}
