@import './variables';
@import './mixin';

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContainer {
  background-color: $white;
  width: calc(100vw - #{$sidebar-width});
}

.header {
  display: flex;
  border-bottom: solid 1px $grey;
  height: $header-height;
  .switchView {
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__button {
      outline: none;
      color: $indigo;
      cursor: pointer;
      text-decoration: underline;
      &--disable {
        color: inherit;
        outline: none;
        font-weight: bold;
      }
    }
    &__divider {
      margin: 0 10px;
    }
  }
  .resource {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow-x: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      align-items: center;
      width: fit-content;
      max-width: 100px;
    }
    &__icon {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    &__name {
      font-size: 12px;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }
}

.gantt {
  display: flex;
  height: calc(100vh - #{$header-height});
  overflow: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &-index {
    position: sticky;
    left: 0;
    z-index: 5;
    &-header {
      display: flex;
      align-items: center;
      height: 40px;
      border-right: solid 1px $grey;
      border-bottom: solid 1px $grey;
      background-color: $white;
      position: sticky;
      top: 0;
      z-index: 5;
      &__label {
        cursor: pointer;
        &:hover {
          color: $indigo;
        }
      }
      &__resource {
        width: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .resourceIcon {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: linear-gradient(to bottom, $blue, $indigo, $pink);
          &--selected {
            @extend .resourceIcon;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
              content: '✔︎';
              font-size: 10px;
              color: white;
            }
          }
        }
      }
      &__name {
        @include base-label($width: 150px, $text-align: left);
      }
      &__startDate {
        @include base-label($width: 90px);
      }
      &__endDate {
        @extend .gantt-index-header__startDate;
      }
      &__extend {
        @extend .gantt-index-header__startDate;
      }
      &__duration {
        @include base-label($width: 90px);
      }
      &__inCharge {
        @include base-label($width: 100px);
      }
      .overlay {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }
  }
  &-schedule {
    flex-grow: 1;
    &-header {
      @extend .gantt-index-header;
      position: sticky;
      top: 0;
      z-index: 4;
      &__date {
        box-sizing: border-box;
        height: 40px;
        width: 45px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        padding: 0 10px;
        border-right: solid 1px $grey;
        &--sun {
          @extend .gantt-schedule-header__date;
          background-color: $background-sun;
        }
        &--sat {
          @extend .gantt-schedule-header__date;
          background-color: $background-sat;
        }
      }
      &__week {
        @extend .gantt-schedule-header__date;
        padding: 0 5px;
      }
    }
  }
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pink;
  &--title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $pink;
  }
  &__label {
    cursor: pointer;
    &:hover {
      color: $indigo;
    }
  }
  &__clear {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 2px;
    color: $pink;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: $indigo;
    }
  }
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px 30px;
  box-shadow: $box-shadow;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  &--resource {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 50px;
  }
  &--name {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 50px;
  }
  &--start {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 200px;
  }
  &--end {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 300px;
  }
  &--extend {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 400px;
  }
  &--duration {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 480px;
  }
  &--user {
    @extend .search;
    position: absolute;
    top: 90px;
    left: 260px;
  }
  &__label {
    color: $white;
    margin-top: 30px;
    margin-bottom: 3px;
    font-size: 12px;
  }
  &__project {
    @include text-input();
    border: none;
    width: 140px;
  }
  &__divide {
    width: 100%;
    height: 1px;
    border-bottom: solid 1px $white;
  }
  &__task {
    @include text-input();
  }
  &__dateWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__dateRange {
    @include text-input();
    cursor: pointer;
    margin-top: 10px;
  }
  &__order {
    @include text-input();
    border: none;
  }
  &__usersWrapper {
    display: flex;
    padding-top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
    width: 360px;
    flex-wrap: wrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .avatar {
      width: 180px;
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      &__name {
        color: $white;
      }
      &__wrapper {
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
      }
      &__image {
        @extend .avatar__wrapper;
      }
      &__selected {
        @extend .avatar__wrapper;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        &::after {
          content: '✔︎';
          color: white;
        }
      }
    }
  }
  &__resourceWrapper {
    @extend .search__usersWrapper;
    .resource {
      @extend .avatar;
      &__name {
        @extend .avatar__name;
      }
      &__wrapper {
        @extend .avatar__wrapper;
      }
      &__icon {
        @extend .avatar__wrapper;
      }
      &__selected {
        @extend .avatar__selected;
      }
    }
  }
}
