@import './variables';
@import './mixin';

.project {
  border-bottom: solid 1px $grey;
  background-color: $white;
  border-right: solid 1px $grey;
  &Header {
    @include chart-bar();
    align-items: center;
    position: sticky;
    top: 40px;
    padding-left: 5px;
    z-index: 3;
    background-color: $white;
    &__name {
      margin-right: 10px;
    }
    &__edit {
      color: $indigo;
      cursor: pointer;
      margin-right: 10px;
    }
    &__addTask {
      @extend .projectHeader__edit;
    }
    &__link {
      color: $indigo;
      cursor: pointer;
      font-size: 12px;
    }
  }
}
