@import './mixin';

.task {
  @include chart-bar();
  cursor: pointer;
  &:hover {
    background-color: rgba(220, 220, 220, 0.3);
  }
  &--complete {
    @extend .task;
    background-color: rgba(150, 150, 150, 0.6);
    &:hover {
      background-color: rgba(150, 150, 150, 0.6);
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 20px;
    height: 100%;
    color: red;
    cursor: default;
  }
  &__delete {
    cursor: pointer;
  }
  &__resource {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  &__name {
    @include base-label($width: 150px, $text-align: left);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  &__startDate {
    @include base-label($width: 90px);
  }
  &__endDate {
    @extend .task__startDate;
  }
  &__extend {
    @extend .task__startDate;
  }
  &__duration {
    @include base-label($width: 90px);
  }
  &__inCharge {
    @include base-label($width: 100px);
    padding-right: 0;
    display: flex;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 2px;
    &--length {
      @extend .task__avatar;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $grey;
      color: $white;
      font-weight: bold;
      font-size: 8px;
    }
  }
}
